{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'base/base.css' %}" />
    {% block stylesheets %}{% endblock %}
    <title>{% block title %} Website title {% endblock %}</title>
</head>

<body>
    <a href='#home' class='back'><img src="{% static 'base/up.png' %}"></a>
    <div class='home_con'>
        <div id='home'>
        <nav> 
            <ul>
            <li><a href='#home' class='hm'><img src="{% static 'base/home.png' %}"></a></li>
            <li><a href='#about' class='ab'><img src="{% static 'base/about.png' %}"></a></li>
            <li><a href='#stats' class='st'><img src="{% static 'base/analytics.png' %}"></a></li>
            <li><a href='#contact' class='cn'><img src="{% static 'base/contact.png' %}"></a></li>
            </ul>
        </nav>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class='about_con'>
        <div id='about'>
            <div class='section_right'>
                <div class='ab_title_con'> <div class='ab_title'>ABOUT US</div> </div>
                <div class='ab_text'> {% lorem 1 %} </div>
            </div>
            <div class='section_left'>
                <div class='ab_img'>
                    <img src="{% static 'base/about_img.png' %}" alt="doctor_image">  
                </div>
            </div>
        </div>
    </div>
    <div class='stats_con'>
        <div id='stats'>
            <div class='st_title_con'> <div class='st_title'> Usage Statistics </div> </div>
            <div class='st_chart_con'>
                <div class='st_chart'> 
                    <div class='chart_container'> 
                        <canvas id="usage"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='contact_con'>
        <div id='contact'>
            <div class='form_con'>
                <form action='mailto:admin@example.com' method='post'>
                {% csrf_token %}
                    <div class='f_title'>
                        Contact us
                    </div>
                    <div class='row'>
                        <input type="text" id="name_in" name="name" placeholder="Your Name (required)" required>
                        <input type="email" id="email_in" name="email" placeholder="Your E-mail (required)" required>
                    </div>
                    <div class='row'>
                        <input type="text" id="mess_in" name="message" placeholder="Your Message (required)" required>
                    </div>
                    <div class='sub'>
                        <input type="submit" id="subthis" value="Contact us">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>

        <div class='sources'> 
            Made with 
            <a href="https://www.tensorflow.org/">
                <img src="{% static 'base/tf.png' %}" alt="Tensorflow">
            </a>
            <a href="https://keras.io/">
                <img src="{% static 'base/kr.png' %}" alt="Keras">
            </a>
        </div>

        <div class='sources'>
            <a href="https://www.djangoproject.com/"> 
                <img src="{% static 'base/dj.png' %}" alt="Django"> 
            </a>
            <a href="https://www.chartjs.org/">
                   <img src="{% static 'base/chartjs.svg' %}" alt="Chart.js"> Chart.js
            </a>
        </div>

        <div class='icsources'>
            Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> 
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
            is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
        <div>Made by <a href="https://github.com/xpersky">persky</a> Copyright © MIT License</div>

    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script src="{% static 'base/base.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
